{% extends "base.html" %}
{% load ratings %}
{% block content %}
    <h2>Spirit Details</h2><br>
    <h3>{{ spirit.name }}</h3><br>
    <h4>{% if spirit.category.name == spirit.subcategory.name %}
            {{ spirit.category }}
        {% else %}
            {{ spirit.subcategory }} {{ spirit.category }}
        {% endif %}</h4><br>
    {% if user.is_superuser %}<h6>Added {{ spirit.pub_date }}</h6>{% endif %}
    <div class="star-ratings">
        {% ratings spirit %}
    </div><br><br>
    {% if user.is_authenticated %}
        {% if not user_has_spirit_in_collection %}
            {% if spirit.url %}
                <p><a href="{{ spirit.url }}" target="_blank">Buy it on Heureka. Price starting at {{ spirit.price }} Kč.</a></p>
            {% else %}
                <p>Price starting at {{ spirit.price }} Kč.</p>
            {% endif %}
        <button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"><a class="white" href="{% url 'add_to_collection' spirit.id %}">Add to Collection</a></button>
    {% else %}
        <p>You have this in your collection.</p>
        <form method="post" action="{% url 'remove_from_collection_in_spirit_detail' spirit.id %}">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Remove from collection</button>
        </form>
        {% endif %}
    {% endif %}
    <br><br>
    <button type="button" class="btn btn-secondary btn-sm"><a class="white" href="{% url 'category_detail' category.id %}">Back</a></button>
    {% if user.is_superuser %}
    <button type="button" class="btn btn-warning btn-sm"><a class="white" href="{% url 'spirit_edit' spirit.id %}">Edit</a></button>
    <button type="button" class="btn btn-danger btn-sm"><a class="white" href="{% url 'spirit_delete' spirit.id %}">Delete</a></button>
    {% endif %}
    <h4>{{ spirit.rating }}</h4><br>
    <h2>Comments</h2>
    {% for comment in spiritcomment %}
    <div class="card mt-2">
        <div class="card-header"><strong>{{ comment.comment.author.username }}&ensp;{{ comment.comment.created_at }}</strong></div>
        <div class="card-body d-flex flex-row justify-content-between">
             <div>
                 <p>{{ comment.comment.text }}</p>
             </div>
             <div>
                 {% if user.is_superuser or comment.comment.author.username == request.user.username %}
                 <form method="POST" action="{% url 'spirit_comment_delete' spirit.id comment.id %}">
                     {% csrf_token %}
                     <button type="submit" class="btn btn-danger">Delete Comment</button>
                 </form>
                 {% endif %}
             </div>
        </div>
    </div><br>
    {% empty %}
    <p>No comments yet.</p>
    {% endfor %}
    {% if user.is_authenticated %}
    <form method="POST" action="{% url 'spirit_comment_create' spirit.id %}">
        {% csrf_token %}
        <input placeholder="Leave a comment..." name="commented">
        <button class="btn btn-primary" type="submit">Comment</button>
    </form>
    {% endif %}
{% endblock %}
